<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock title %} | Personal Website</title>
  <link href="/static/styles.css" type="text/css" rel="stylesheet" />

  {% block head_extra %}{% endblock head_extra %}
</head>

<body class="{% block body_classes %}{% endblock body_classes %}">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>

  <section class="content">
    {% block content %}{% endblock %}
  </section>

  <footer></footer>

  <script type="text/javascript" src="/static/main.js"></script>
  {% block javascript_extra %}{% endblock javascript_extra %}
</body>
</html>
